venv
__pycache__
.venv
secrets
**/secrets
*.pem
*.key
.test-data
htmlcov
.coverage*
VAELQORIX.XDR_COMMAND/dist
VAELQORIX.XDR_COMMAND/coverage
.pytest_cache
*.pyc
*.pyo
*.pyd
*.db
.env
.env.*
logs
.git
.idea
node_modules
VAELQORIX.XDR_COMMAND/node_modules
