@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importa tus estilos personalizados */
@import "./theme.css";
@import "./animations.css";

/* Scrollbar personalizada */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary);
}

/* Ajustes globales */
* {
  transition: background-color 0.2s ease, color 0.2s ease;
}

a {
  text-decoration: none;
  color: inherit;
}